@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 min-h-screen antialiased;
    margin: 0;
    padding: 0;
  }

  /* Resetăm proprietățile care stricau layout-ul flex/grid */
  #root {
    width: 100%;
    min-h-screen: 100vh;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
  }
}